* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;
    padding: 20px;
}

h1 {
    margin: 0 0 0 30px;
    color: white;
}

canvas {
    display: block;
    background-color: #ffffff;
    margin: 0 auto;
    border: 1px solid #ccc;
}

button {
    background-color: #3f51b5;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #283593;
}

.graph-data,
#result {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.graph-data th,
.graph-data td,
#result th,
#result td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.graph-data th,
#result th {
    background-color: #3f51b5;
    color: white;
}

.node {
    cursor: pointer;
    color: red;
}

.edge {
    cursor: pointer;
    color: blue;
}

#data {
    font-size: 14px;
    margin: 10px;
}

#text-result {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

/* Добавьте этот код в файл style.css */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        background-color: #3f51b5;
        width: 100%; /* Установите ширину на 100% для расширения фона на всю ширину экрана */
    }

    h1 {
        margin: 10px 0;
        font-size: 24px;
        background-color: #3f51b5; /* Измените цвет фона на этот */
        width: 100%; /* Добавьте эту строку */
    }


    button {
        font-size: 14px;
        padding: 5px 10px;
        margin: 5px;
    }

    .graph-data th,
    .graph-data td,
    #result th,
    #result td {
        padding: 4px;
    }
}
.node,
.edge {
    transition: color 0.3s;
}

.node:hover,
.edge:hover {
    color: #ff5722;
}
